{% load static %}
{% load main_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>Альянс Туристических Агентств кыргызстана</title>
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="theme-color" content="#009da9">
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/alliance.css' %}" />
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    </head>
    <body>
        <div class="tm-sidebar-left uk-visible@m">
            <div class="tm-sidebar-content">
                <div class="tm-sidebar-top uk-flex uk-flex-column uk-text-center">
                    <div class="uk-margin-auto-vertical">
                        <a href="#" class="logo-text"  uk-toggle="target: #offcanvas-reveal">
                        <b>Вступить в Альянс</b>
                        </a>
                    </div>
                </div>
                <div class="tm-sidebar-bottom uk-flex uk-flex-center uk-flex-bottom">
                    <div class="logo-text pabss">
                    Мы в соцсетях:
                    <a class="uk-margin-top" href="#" target="_blank" uk-icon="icon: instagram; ratio: 1.1"></a> 
                    <a class="uk-margin-top fbbbb" href="#" target="_blank" uk-icon="icon: facebook; ratio: 1.1"></a>
                    </div>
                </div>
            </div>
            <div id="offcanvas-reveal" uk-offcanvas="mode: reveal; overlay: true">
			    <div class="uk-offcanvas-bar uk-light">
			        <button class="uk-offcanvas-close" type="button" uk-close></button>
			        <h3>Подать заявку для вступления в члены Альянса</h3>
			        <div class="uk-margin">
			            <input class="uk-input" type="text" placeholder="Название организации">
			        </div>
					<div class="uk-margin">
			            <input class="uk-input" type="text" placeholder="Ваше имя">
			        </div>
					<div class="uk-margin">
			            <input class="uk-input" type="text" placeholder="E-mail">
			        </div>
					<div class="uk-margin">
			            <input class="uk-input" type="text" placeholder="Номер телефона">
			        </div>
			        <div class="uk-margin">
			        <button class="uk-button uk-button-secondary uk-width-1-1">Подать заявку</button>
			    	</div>
			    </div>
			</div>
        </div>
        <div class="pattern uk-hidden@m">
	        <div class="mob-nav">
	        	<div class="uk-child-width-auto uk-grid-collapse uk-flex-middle" uk-grid>
	        		<div>
	        			<a href="">
	        				<img src="{% static 'img/logo.png' %}" class="moblogo">
	        			</a>
	        		</div>
	        		<div class="uk-width-expand"></div>
	        		<div class="uk-text-center">
	        			<a class="" href="#modal-full" uk-toggle="">
	        				<img src="{% static 'img/icon/phone.png' %}" class="headphone">
	        			</a>
	        		</div>
	        		<div class="">
	        			<a class="uk-navbar-toggle uk-float-right" href="#offcanvas-menu" uk-toggle>
				            <span uk-navbar-toggle-icon></span>
				        </a>
	        		</div>
	        	</div>
	        </div>
        </div>
        <div class="tm-main">
            <div class="header uk-visible@m">
                <div class="uk-container">
                    <div class="" uk-grid>
                        <div class="uk-width-auto">
                            <a href="" class="logo"><img src="{% static 'img/logo.png' %}"></a>
                        </div>
                        <div class="uk-width-expand">
                            <div class="head-content">
                                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                    <div class="uk-width-expand">
                                        <q>
                                            Собраться вместе — это начало, оставаться вместе — это прогресс, работать вместе — это успех Генри Форд.
                                        </q>
                                    </div>
                                    <div class="uk-width-expand">
                                        <div class="uk-float-right uk-margin-medium-left">
                                            <a class="uk-button uk-button-primary brr" href="{% url 'contactus' %}">Контакты</a>
                                        </div>
                                        <div class="uk-float-right">
                                            <div class="uk-flex-middle uk-grid-small" uk-grid>
                                                <div class="uk-width-expand">
                                                    <p>+996 500 555 775 <br>+996 777 774 897</p>
                                                </div>
                                                <div class="uk-width-auto uk-flex-first uk-first-column">
                                                    <img src="{% static 'img/phone.png' %}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="head-nav uk-box-shadow-medium">
                                <div class="uk-grid-small uk-grid-divider uk-child-width-1-6" uk-grid>
                                    <div>
                                        <a href="{% url 'home' %}" class="head-nav-menu {% nav_text_bold_class request '/' %}">Главная</a>
                                    </div>
                                    <div>
                                        <a href="{% url 'about' %}" class="head-nav-menu {% nav_text_bold_class request '/about/' %}">Об Альянсе</a>
                                    </div>
                                    <div>
                                        <a href="{% url 'deyatelnost' %}" class="head-nav-menu {% nav_text_bold_class request '/deyatelnost/' %}">Деятельность</a>
                                    </div>
                                    <div>
                                        <a href="{% url 'news' %}" class="head-nav-menu {% nav_text_bold_class request '/news/' %}">Новости</a>
                                    </div>
                                    <div>
                                        <a href="{% url 'partners' %}" class="head-nav-menu {% nav_text_bold_class request '/partners/' %}">Партнеры</a>
                                    </div>
                                    <div>
                                        <a href="{% url 'tours' %}" class="head-nav-menu {% nav_text_bold_class request '/tours/' %}">Туры</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block body %}

            {% endblock %}
            <div class="footer uk-light">
            	<div class="uk-container">
            		<div class="uk-grid-collapse uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid uk-height-match="target: > div > .footb">
            			<div>
            				<div class="footb foot-1 uk-text-center">
            					<a href="" class="fogo">
            						<img src="{% static 'img/fogo.png' %}">
            					</a>
            				</div>
            			</div>
  						<div>
            				<div class="footb foot-2">
            					<div class="uk-grid-small" uk-grid>
            						<div class="uk-width-auto">
            							<img src="{% static 'img/icon/location.png' %}" width="50">
            						</div>
            						<div class="uk-width-expand">
            							<b class="uk-h3 uk-text-uppercase uk-text-bold">Адрес</b><br>
            							Кыргызская Республика
										г. Бишкек
										720040
										ул, Боконбаева, 138
            						</div>
            					</div>
            				</div>
            			</div>
  						<div>
            				<div class="footb foot-3">
            					<div class="uk-grid-small" uk-grid>
            						<div class="uk-width-auto">
            							<img src="{% static 'img/icon/phone.png' %}" width="50">
            						</div>
            						<div class="uk-width-expand">
            							<b class="uk-h3 uk-text-uppercase uk-text-bold">Тел.</b><br>
            							+996 <b>500 555 775</b><br>
										+996 <b>777 774 897</b><br>
										+996 <b>777 774 897</b><br>
            						</div>
            					</div>
            				</div>
            			</div>
  						<div>
            				<div class="footb foot-4">
            					<div class="uk-grid-small" uk-grid>
            						<div class="uk-width-auto">
            							<img src="{% static 'img/icon/mail.png' %}" width="50">
            						</div>
            						<div class="uk-width-expand">
            							<b class="uk-h3 uk-text-uppercase uk-text-bold">E-mail</b><br>
            							<b>mail@tak.kg</b><br>
										<b>tak.kg@gmail.com</b><br>
            						</div>
            					</div>
            				</div>
            			</div>
            		</div>
            	</div>
            </div>
            <div class="sub-footer">
            	<div class="uk-container">
            		<div class="uk-grid-margin-medium uk-flex-middle" uk-grid>
            			<div class="uk-width-expand@s">
							Copyright © 2019 All Right Reserved, Tak.kg. Website Designed &amp; Developed By<br class="uk-hidden@s"> <a class="uk-text-bold" href="http://kunbala.com/" target="_blank" style="color: #306465"><img src="img/kunbala.png" style="margin-right: 5px;" width="20">Kunbala Digital.</a>
            			</div>
            			<div class="uk-width-auto@s">
            				<a href="" class="uk-icon-button uk-margin-small-left" uk-icon="instagram"></a>
							<a href="" class="uk-icon-button uk-margin-small-left" uk-icon="facebook"></a>
							<a href="" class="uk-icon-button uk-margin-small-left" uk-scroll uk-totop></a>

            			</div>
            		</div>		
				</div>
            </div>
        </div>
        <div id="offcanvas-menu" uk-offcanvas="mode: reveal; flip: true; overlay: true">
		    <div class="uk-offcanvas-bar uk-light">
		        <button class="uk-offcanvas-close" type="button" uk-close></button>
				<div class="uk-width-1-2@s uk-width-2-5@m">
				    <ul class="uk-nav-default uk-nav-parent-icon uk-margin-medium-top" uk-nav="multiple: true">
				        <li class="uk-active"><a href="index.html">Главная</a></li>
				        <li><a href="about.html">Об Альянсе</a></li>
				        <li><a href="deyatelnost.html">Деятельность</a></li>
				        <li><a href="news.html">Новости</a></li>
				        <li><a href="partners.html">Партнеры</a></li>
				        <li><a href="tours.html">Туры</a></li>
				        <li><a href="contactus.html">Контакты</a></li>
				    </ul>
				    <button class="uk-button uk-button-secondary uk-width-1-1 uk-margin-medium-top brr" uk-toggle="target: #offcanvas-reveal">Вступить в альянс</button>
				    <hr>
				    <p class="uk-text-center">
				    	<b>Мы в соцсетях:</b><br><br>
            			<a href="" class="uk-icon-button uk-margin-small-left" uk-icon="instagram"></a>
						<a href="" class="uk-icon-button uk-margin-small-left" uk-icon="facebook"></a>
				    </p>
				</div>
		    </div>
		</div>
		<div id="modal-full" class="" uk-modal>
		    <div class="uk-modal-dialog">
		        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
		        <div class="uk-grid-collapse uk-child-width-1-1 uk-flex-middle" uk-grid>
		            <div class="uk-padding-large uk-margin-medium-bottom">
		                <p class="uk-h2 uk-text-bold">Контакты</p>
		            	<p class="uk-margin-small-bottom">
		            		+996 <b>500 555 775</b><br>
							+996 <b>777 774 897</b>
						</p>
		            	<a href="tel:+996708224458" class="uk-button uk-button-primary brr uk-width-1-1">Позвонить</a>
		            	<a href="https://wa.me/996777555444" class="uk-button uk-button-primary brr uk-width-1-1 uk-margin-small-top">Написать</a>
		            	<p class="uk-text-bold uk-margin-large-top">Email:<br> info@tak.kg</p>
		            	<p class="uk-margin-large-top"><b>Адрес:</b><br>
		            	Кыргызская Республика г. Бишкек 720040 ул, Боконбаева, 138 </p>
		            	
		            </div>
		        </div>
		    </div>
		    <div class="uk-modal-footer">
		        <button class="uk-button uk-button-default uk-modal-close" type="button">Назад</button>
		    </div>
		</div>
    </body>
</html>

