{% extends 'base.html' %}
{% load static %}
{% block body %}
            <div class="pattern">
                <div class="uk-container uk-container-small">
                    <div class="uk-card uk-card-default uk-card-body uk-margin-medium-top uk-margin-large-bottom">

                        <h1 class="uk-margin-remove-top uk-text-bold">Наши контакты</h1>
                        <hr>
                        <div class="uk-grid-medium uk-child-width-1-3@m" uk-grid>
                            <div>
                                <p class="uk-margin-remove-bottom uk-text-bold">Тел.:</p>
                                <p class="uk-h3 uk-margin-remove-top">
                                +996 500 555 775<br>
                                +996 777 774 897<br>
                                +996 777 774 897
                                </p>
                            </div>
                            <div>
                                <p class="uk-margin-remove-bottom uk-text-bold">Адрес</p>
                                <p class="uk-h4 uk-margin-remove-top">
                                Кыргызская Республика г. Бишкек 720040 ул, Боконбаева, 138 
                                </p>
                            </div>
                            <div>
                                <p class="uk-margin-remove-bottom uk-text-bold">E-mail</p>
                                <p class="uk-margin-remove-top">
                                mail@tak.kg<br>
                                tak.kg@gmail.com 
                                </p>
                                <p class="uk-margin-remove-bottom "><b>Режим работы</b>
                                    <br> режим работы: с 9:00 до 17:30<br>Понедельник - Пятница
                                </p>
                            </div>
                        </div>
                        <div class="uk-cover-container uk-height-medium uk-margin-medium-top">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2924.2629428657547!2d74.59492331547244!3d42.86729397915606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb7d73d797f1d%3A0x1c56ede729662173!2zMTM4INGD0LsuINCR0L7QutC-0L3QsdCw0LXQstCwLCDQkdC40YjQutC10Lo!5e0!3m2!1sru!2skg!4v1560843263661!5m2!1sru!2skg" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>  
                </div>
            </div>
{% endblock %}