{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="uk-container uk-container-small">
                    <div class="uk-margin-medium-top uk-margin-medium-bottom">
                        <h1 class="uk-heading-line uk-text-center"><span>Наша деятельность</span></h1>
                    </div>
                    <div class="uk-card uk-card-default uk-card-body uk-margin-large-bottom">
                        <p class="">Альянс Туристических Агентств (АТА) – независимое объединение, созданное с целью всестороннего содействия развитию розничного сегмента туристического рынка и защиты интересов его участников.<br><br>
                        <b>Для достижения своих целей и задач Альянс:</b></p>

                        <ul class="uk-list uk-list-striped uk-list-divider uk-margin-small-lef">
                        <li>Взаимодействует с другими участниками туррынка, органами государственной власти, общественными и профессиональными объединениями с целью защиты интересов своих членов</li>
                        <li>Подготавливает предложения и рекомендации по вопросам законодательного совершенствования туротрасли, принимает активное участие в подготовке поправок в отраслевое законодательство и нормативно-правовые акты, регулирующие деятельность туристических агентств</li>
                        <li>Объединяет информационные, организационно-технические, финансовые и прочие возможности членов Альянса для достижения поставленных задач</li>
                        <li>Разрабатывает профессионально-этический кодекс работников турагентского рынка и контролирует его соблюдение членами Альянса</li>
                        <li>Организует проведение конференций, семинаров, пресс-конференций и иных мероприятий, посвященных проблемам развития рынка. Активно влияет на формирование положительного имиджа туротрасли в глазах общественности</li>
                        <li>Устанавливает и развивает связи с зарубежными туристическими ассоциациями, участвует в работе международных организаций</li>
                        <li>Изучает, анализирует и распространяет среди своих членов передовой опыт зарубежных коллег</li>
                        <li>Осуществляет любую другую деятельность, направленную на достижение целей и задач Альянса</li>
                        </ul>
                    </div>
                </div>
{% endblock %}