{% extends 'base.html' %}
{% load static %}
{% block body %}
<body>


                <div class="uk-container uk-container-small">
                    <div class="uk-margin-medium-top uk-margin-medium-bottom">
                        <h1 class="uk-heading-line uk-text-center"><span>Новости</span></h1>
                    </div>
                    <div class="uk-child-width-1-3@m uk-grid-medium uk-margin-large-bottom" uk-grid="masonry: true">
                        <div>
                            <a href="news-item.html" class="no-link">
                            <div class="uk-card uk-card-small uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="{% static 'img/news2.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <h3 class="uk-h4">Поезд vs самолет: задержка, отмена и компенсация</h3>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div>
                            <div class="uk-card uk-card-small uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="{% static 'img/news3.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <h3 class="uk-h4">8 фильмов о путешествиях, основанных на реальных событиях</h3>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-small uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="{% static 'img/news4.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <h3 class="uk-h4">Как одеться в самолет</h3>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-small uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="{% static 'img/news5.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <h3 class="uk-h4">Открытые границы</h3>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-small uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="{% static 'img/news6.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <h3 class="uk-h4">Открытые границы</h3>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-small uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="{% static 'img/news7.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <h3 class="uk-h4">10 типов туристов, которых все не любят</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


{% endblock %}

