{% extends 'base.html' %}
{% load static %}
{% block body %}
            <div class="pattern">
                <div class="uk-container uk-container-small">
                    <div class="uk-margin-medium-top uk-margin-medium-bottom">
                        <h2 class="uk-heading-bullet uk-text-uppercase uk-margin-medium-top">Сотрудничающие организации</h2>
                    </div>
                    <div class="">
                        <div class="uk-card uk-box-shadow-medium uk-card-default uk-grid-collapse uk-margin" uk-grid>
                            <div class="uk-card-media-left uk-cover-container uk-width-1-4@s">
                                <img src="{% static 'img/partners/1.jpg' %}" alt="" uk-cover>
                                <canvas width="600" height="400"></canvas>
                            </div>
                            <div class="uk-width-expand">
                                <div class="uk-card-body uk-card-small">
                                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                        <div class="uk-width-expand">
                                            <h4 class="uk-text-bold uk-margin-small-bottom">Kyrgyz Concept</h4>
                                            <p class="uk-margin-remove-top">Kyrgyz Concept интегрирует Центральную Азию в развитый мир, создавая доступность и многообразие путешествий и ивентов.</p>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-button uk-button-small uk-button-secondary brr">
                                                <span uk-icon="icon: arrow-right; ratio: 1.3"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card uk-box-shadow-medium uk-card-default uk-grid-collapse uk-margin" uk-grid>
                            <div class="uk-card-media-left uk-cover-container uk-width-1-4@s">
                                <img src="{% static 'img/partners/2.jpg' %}" alt="" uk-cover>
                                <canvas width="600" height="400"></canvas>
                            </div>
                            <div class="uk-width-expand">
                                <div class="uk-card-body uk-card-small">
                                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                        <div class="uk-width-expand">
                                            <h4 class="uk-text-bold uk-margin-small-bottom">PHOENIX TRAVEL</h4>
                                            <p class="uk-margin-remove-top">Компания PHOENIX TRAVEL предлагает Вам индивидуальные и корпоративные туры в любую часть мира!</p>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-button uk-button-small uk-button-secondary brr">
                                                <span uk-icon="icon: arrow-right; ratio: 1.3"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card uk-box-shadow-medium uk-card-default uk-grid-collapse uk-margin" uk-grid>
                            <div class="uk-card-media-left uk-cover-container uk-width-1-4@s">
                                <img src="{% static 'img/partners/3.jpg' %}" alt="" uk-cover>
                                <canvas width="600" height="400"></canvas>
                            </div>
                            <div class="uk-width-expand">
                                <div class="uk-card-body uk-card-small">
                                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                        <div class="uk-width-expand">
                                            <h4 class="uk-text-bold uk-margin-small-bottom">Kочевник.kg</h4>
                                            <p class="uk-margin-remove-top">Kочевник.kg – турагентство, которому доверяют свои путешествия более 7000 человек в год, из них 1000 постоянных клиентов...</p>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-button uk-button-small uk-button-secondary brr">
                                                <span uk-icon="icon: arrow-right; ratio: 1.3"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card uk-box-shadow-medium uk-card-default uk-grid-collapse uk-margin" uk-grid>
                            <div class="uk-card-media-left uk-cover-container uk-width-1-4@s">
                                <img src="{% static 'img/partners/4.jpg' %}" alt="" uk-cover>
                                <canvas width="600" height="400"></canvas>
                            </div>
                            <div class="uk-width-expand">
                                <div class="uk-card-body uk-card-small">
                                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                        <div class="uk-width-expand">
                                            <h4 class="uk-text-bold uk-margin-small-bottom">Главтур</h4>
                                            <p class="uk-margin-remove-top">Главтур, Бишкек является первым аккредитованным агентом IATA (Международной Ассоциации Авиаперевозчиков)...</p>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-button uk-button-small uk-button-secondary brr">
                                                <span uk-icon="icon: arrow-right; ratio: 1.3"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card uk-box-shadow-medium uk-card-default uk-grid-collapse uk-margin" uk-grid>
                            <div class="uk-card-media-left uk-cover-container uk-width-1-4@s">
                                <img src="{% static 'img/partners/5.jpg' %}" alt="" uk-cover>
                                <canvas width="600" height="400"></canvas>
                            </div>
                            <div class="uk-width-expand">
                                <div class="uk-card-body uk-card-small">
                                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                        <div class="uk-width-expand">
                                            <h4 class="uk-text-bold uk-margin-small-bottom">Караван</h4>
                                            <p class="uk-margin-remove-top">Наша компания, основанная в 1992 году, недавно перешагнула свой двадцатилетний рубеж. За эти годы «Караван» ...</p>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-button uk-button-small uk-button-secondary brr">
                                                <span uk-icon="icon: arrow-right; ratio: 1.3"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin-medium-top uk-margin-medium-bottom">
                            <ul class="uk-pagination" uk-margin>
                                <li><a href="#"><span uk-pagination-previous></span></a></li>
                                <li class="uk-active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><span uk-pagination-next></span></a></li>
                            </ul>
                        </div>
                    </div>   
                </div>
            </div>
{% endblock %}